<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title><%- pageTitle %> | <%- siteTitle %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
  </head>
  <body>
    <%- partial("partial/_header") %> <%- yield %> <%- partial("partial/_footer") %>

    <!-- jQuery first, then Bootstrap JS. -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      $("[data-toggle=tooltip]").tooltip();
      $("[data-toggle=popover]").popover();
    </script>
  </body>
</html>
